asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cloudinary==1.44.2
cryptography==46.0.7
Django==6.0.4
django-allauth==65.15.1
django-axes==8.3.1
django-cloudinary-storage==0.3.0
idna==3.11
pillow==12.2.0
pycparser==3.0
PyJWT==2.12.1
pyngrok==8.0.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
